<h1>Make your form here</h1>
<form action="/pirate" method="post">
  <label>Pirate Name: <input type="text" name="pirate[name]"></label>
  <label>Pirate Weight: <input type="text" name="pirate[weight]"></label>
  <label>Pirate Age: <input type="text" name="pirate[age]"></label>
  <label>Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></label>
  <label>Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></label>
  <label>Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></label>
  <label>Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></label>
  <label>Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></label>
  <label>Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></label>
  <input type="submit">
</form>
